.safeholder-page__r1 {
  padding-top: $spacing-05;
  padding-bottom: $spacing-05;
}

.safeholder-page__banner {
  padding-top: $spacing-05;
  padding-bottom: $spacing-07 * 2;
  @include landing-page-background;
}

.safeholder-page__heading {
  @include carbon--type-style('productive-heading-05');
}


.safeholder-page__r2 {
  margin-top: rem(-40px);
}

.safeholder-page__c2 {
  @include landing-page-background;
}

.safeholder-page__tab-content {
  padding-top: $layout-05;
  padding-bottom: $layout-05;
}

.safeholder-page__subheading {
  @include carbon--type-style('productive-heading-03');
  @include carbon--font-weight('semibold');
}

.safeholder-page__p {
  @include carbon--type-style('productive-heading-03');
  margin-top: $spacing-06;
  margin-bottom: $spacing-08;

  @include carbon--breakpoint-between((320px + 1), md) {
    max-width: 75%;
  }
}