@import './mixins.scss';

.form_field {
    padding-top: $spacing-05;
}

.register-page__image {
    max-width: 100%;
  }
  
.register-page__banner {
padding-top: $spacing-05;
padding-bottom: $spacing-05 * 4;
@include register-page-background;
}

.register-page__heading {
@include carbon--type-style('productive-heading-05');
}

.register-page__r2 {
margin-top: rem(-40px);
}

.register-page__tab-content {
    padding-top: $layout-05;
    padding-bottom: $layout-05;
  }

.register-page__subheading {
@include carbon--type-style('productive-heading-03');
@include carbon--font-weight('semibold');
}

.register-page__p {
@include carbon--type-style('productive-heading-03');
margin-top: $spacing-06;
margin-bottom: $spacing-08;

@include carbon--breakpoint-between((320px + 1), md) {
    max-width: 75%;
}
}

.register-page__r3 {
padding-top: $spacing-09;
padding-bottom: $spacing-09;
@include register-page-background;
}

.register-page__label {
@include carbon--type-style('heading-01');
}